<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Tableau de bord</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="navbarDropdownMission" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Missions (Nathan.F)
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMission">
            <li><a class="dropdown-item" href="/mission/show">Afficher les missions (CRUD)</a></li>
            <li><a class="dropdown-item" href="/mission/etat-mission/">État des missions</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="navbarDropdownEtape" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Étapes (Aylan.H)
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEtape">
            <li><a class="dropdown-item" href="/etape/show">Afficher les étapes (CRUD)</a></li>
            <li><a class="dropdown-item" href="/etape/etat-etape/">État des étapes</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
